body{
	background-image: linear-gradient(to left, #e5e5e5 , #c5c3c6);
}
.login-btn, .profile-btn{
	float: right;
	margin-top: 10px;
	margin-right: 15px;
}
.signup-btn, .logout-btn{
	float: right;
	margin-top: 10px;
	margin-right: 15px;	
}
.alert{
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
}