body{
	background-image: linear-gradient(to left, #e5e5e5 , #c5c3c6);
}
.form{
	width: 80%;
	margin-top: 3%;
	margin-left: 10%;
}
.search-btn{
	width: 100%;
	margin-top: 10px;
}
.form-select{
	width: 30%;
	margin-top: 3%;
	margin-left: 60%;
}